body{
  margin: 0;
  padding: 0;
  font-family:sans-serif;
  background-color:#0e1217;
  height: 100%;
}
#Goodnight img{
  margin:10px;
  max-width:100%;
}
#Goodnight{
  padding-top: 1rem;
  margin: 0 auto;
  max-width: 30em;
}
#middle{
  padding-top:1rem;
  position: absolute;
  display: inline-block;
  text-align: center;
  width: 100%;
}
button {
  cursor:pointer;
  font-size: 1.3rem;
  background-color: #49636c;
  margin: 20px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  transition: all .07s ease;
}
button:hover{
  filter: brightness(.9);
}

#bottom{
  margin: 0 auto;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#bottom img{
  transform:translateY(80px);
  max-width: 35rem;
}
