html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}
body{
  font-family: 'Open Sans', sans-serif;
  background-color:#0e1217;
  overflow-y: hidden;
}
.top{
  display: flex;
  margin: 0 auto;
  padding-top: 15px;
  width: 15rem;
}
.logo{
  z-index: 3;
  height: 100%;
}
.goodnight{
  width: 90%;
}
.moon{
  transform: translate(-10px,-5px);
  width: 25%;
}
.left{
  float: left;
}
.right{
  border-left: 2.5px solid #FFF4E0;
  float: right;
}
.left, .right{
padding: 20px;
}
.middle{
  z-index: 2;
  color:white;
  font-size: 13pt;
  text-align: center;
  width: fit-content;
  height: fit-content;
  position:absolute;
  bottom: 0;
  margin: 0 auto;
  top: 20%;
  left: 0;
  right: 0;
}
button{
  margin: 0 auto;
  background-color: #393E46;
  border: none;
  color: #FFF4E0;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13pt;
  cursor: pointer;
}
table{
  width: fit-content;
  z-index: 2;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: -39px;
  right: 0;
  top: 50%;
  border-spacing: 10px;
    border-collapse: separate;
  text-align: center;
  color: white;
}
td{
  background-color: orange;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}
.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 20rem;
  transform: translateY(30px);
}
.footer>img{
  visibility: hidden;
  z-index: -1;
  width: 100%;
}
.fireloader{
  position: absolute;
  width: 300px;
  margin: 0 auto;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
}
input{
  background-color:#eaeaea;
  border:none;
  font-size: 17px;
}
#background {
  z-index: 1;
  opacity: .1;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
