@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono");

$body-background: #dadada;
$goodnight-logo: #38f3bb;
$instruction: #7f7f7fc4;

// font-family: "Open Sans", sans-serif;

// font-family: "Roboto Mono", monospace;

/* -----------General styling--------------- */

* {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: $body-background;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.display-time,
.instruction,
.logo,
.wake-times {
  margin: 0 auto;
}

.box-shadow {
  box-shadow: 2px 2px 6px #37474f73;
}

.box-shadow-inset {
  box-shadow: inset 2px 2px 6px #37474f73;
}

/* ----------Goodnight Logo------------------- */

.logo {
  width: 30vw;
  min-width: 300px;
  max-width: 400px;
  margin-top: 30px;

  img {
    width: 100%;
  }
}

/* ------------Wake up at...-------------- */

.instruction {
  width: 280px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: $instruction;
  font-size: 15pt;
}

.arrows {
  display: flex;
  width: 320px;
  margin: 0 auto;

  img {
    width: 60%;
    transform: translateY(-20px);
  }

  p {
    width: 35%;
    color: #7f7f7f;
  }
}
