@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono:100,400|Inconsolata");

$body-background: #191919;
$goodnight-logo: #38f3bb;
$instruction: #7f7f7fc4;

$g: 39;
$o: 0.98;

// font-family: "Open Sans", sans-serif;

// font-family: "Roboto Mono", monospace;

/* -----------General styling--------------- */

* {
  box-sizing: border-box;
  user-select: none;
}
body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba($g, $g, $g, $o), rgba($g, $g, $g, $o)),
    url(https://i.imgur.com/0X9bfZ0.gif);

  display: table-cell;
  vertical-align: middle;
}

/* ----------sleepcycle img------------------- */

.middle {
  position: relative;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  max-width: 350px;
  padding: 10px;
}

#help {
  position: absolute;
  top: 0;
  left: 0;
  a {
    width: fit-content;
    padding: 15px;
    font-size: 30px;
  }
}
