.display-time {
  color: #9c9c9c;
  font-size: 20pt;
  font-family: "Roboto Mono", monospace;
  transform: translateY(-5vh);
  h2 {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    font-weight: 100;
    border-bottom: 1.5px solid #6c6c6c;
    padding: 5px;
  }
}
#col {
  display: inline-block;
  transform: translateY(-4px);
}
