.display-time {
  color: #9c9c9c;
  font-size: 20pt;
  font-family: "Roboto Mono", monospace;
  margin-bottom: 4vw;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  h2 {
    font-weight: 100;
  }
}
