/* ------Contact------ */
.bottom {
  color: white;
  transform: translateY(5vh);
  text-align: center;
  div {
    border-top: 1.5px solid #6c6c6c;
    padding: 15px 0;
    position: relative;
    margin: 0 auto;
    max-width: 300px;
    a {
      cursor: pointer;
    }
  }
}
.fa {
  color: #ffffff52;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  width: 15%;
}
