/* ------Contact------ */

.contact {
  width: 150px;
  margin: 10px auto;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  img {
    width: 100%;
  }
  map {
    area {
      outline: none;
    }
  }
}
.bottom {
  background-color: #191919;
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}
