/* ------Contact------ */
.contact {
  width: 100px;
  opacity: 0.3;
  position: absolute;
  bottom: 0;
  margin: 10px;
  img {
    width: 100%;
  }
  map {
    area {
      outline: none;
    }
  }
}
