* {
  box-sizing: border-box;
}
body {
  position: absolute;
  font-family: "Open Sans", sans-serif;
  background-color: #0e1217;
  background-color: #262626;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  // overflow: hidden;
}
/****** General ******/
// .userDisable {
//   pointer-events: none;
//   user-select: none;
// }
/****** header ******/
.top {
  text-align: center;
  padding-top: 15px;
  width: 100%;
  img {
    max-width: 250px;
    width: 60vw;
    margin: 0 auto;
  }
}
/****** middle ******/
.middle {
  width: 100vw;
  text-align: center;
  margin-top: 5%;
  position: relative;
  .clock {
    width: 80vw;
    max-width: 450px;
  }
}
/****** 24HourClockJS ******/
.ring-input {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transform: translate(3px, -25px) scale(1.45) rotate(-90deg);
}

.display-time {
  font-size: 20pt;
  color: white;
}
