$common-grid: #ff974f;
$best-times: #f77a52;

/* ------Grid of possible wake times------ */

.wake-times {
  width: fit-content;

  td {
    padding: 5px;
  }
}

.table-data {
  min-width: 100px;
  padding: 10px;
  border-radius: 5px;
  background-color: $common-grid;
  font-family: "Roboto Mono", monospace;
}

.best {
  background-color: $best-times;
}
