*{
  box-sizing: border-box;
}
body{
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  background-color:#0e1217;
  background-color: #262626;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/****** General ******/
.userDisable{
  pointer-events: none;
  user-select: none;
}
/****** header ******/
.top{
  text-align: center;
  padding-top: 15px;
  width: 100%;
}
.top img{
  width: 250px;
  margin: 0 auto;
}
/****** middle ******/
.middle{
  position: absolute;
  text-align: center;
  width: 100%;
  top: 25%;
}
.middle .clock{
  width: 28rem;
  margin: 0px 36px;
}
/****** 24HourClockJS ******/
.handle{
  fill:#FFF;
  stroke:#000;
  stroke-width:0;
  cursor: pointer;
}
.ring{
  fill:none;
  stroke:#a8a8a8;
  stroke-width:1;
}
.ring-input{
  transform: translateY(-490px);
  pointer-events: auto;
}
/****** footer ******/
